



.shopping-cart{
    position: absolute;
    top: 100%;
    right: -140%;
    width: 35vh;
    padding: 0 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0,.8);
    overflow-y: scroll;
    overflow-wrap: break-word;
    

}



.shopping-cart.active{
    right: 0%;
    max-height: 200vh;
    
}

.shopping-cart .cart-item{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
    position: relative;
   
}


.shopping-cart h3{
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    color: green;
    font-weight: bolder;
}

.shopping-cart .item-price{
    font-size: 1.2rem;
    
}



.shopping-cart img{
    height: 8rem;
    width: 12rem;
}


#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 3.5rem;
    cursor: pointer;
}
#close-cart:hover{
 color: red;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove{
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0 8px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

 h4{
    font-size: 1.6rem;
    margin-top: 1.4rem;
   justify-content: center;
}


.containers{
    justify-content: center;
}


.shopping-cart{
    max-height: 50vh;
    overflow-y: scroll;
}

#search-form{
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0,.8);
    display: flex;
    justify-content: center;
    padding:0 1rem;
    align-items: center;
   
}

#search-form.active{
    top: 0%;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff ;
    padding: 1rem 0;
    color: white;
    font-size: 3rem ;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}
#search-form label:hover{
    color: greenyellow;
}

#search-form #close{
    position: absolute;
    color: white;
    cursor: pointer;
    top:2rem; right: 3rem;
    font-size: 5rem;
}
#search-form #close:hover{
    color: red;
}

.fa-trash-alt{
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
}


